.header-main {
	text-align: center;
	width: 45%;
	margin: 80px auto 0;
}

	.lead-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.title--main {
		font-size: 4em;
		font-weight: $font-semibold;
		margin: 10px 0;
		color: $text-color-white;
	}

	.text-details {
		font-size: 1.5em;
		color: $text-color-grey;
	}

	.cta {
		margin-top: 80px;
	}

		form {
			width: 85%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
		}

		.input {
			background-color: transparent;
			outline: none;
			padding: 15px;
			font-size: 19px;
			color: $text-color-white;
			border: 1px solid rgba($color-stroke, 0.2);
			flex: 1;
			margin-right: 10px;

			&:hover, &:focus, &:active {
				outline: none;
			}
		}


		