.pricing {
	background-image: url('../images/testimonials-bg.jpg');
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;
}

.title--white {
	color: $text-color-white;
}