// Typography

$font-base-size: 16;

$font-family-sans: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;




// Colors

$text-color-white: #fff;
$text-color-black: #1a1a1a;
$text-color-grey: #999999;
$color-accent: #008ed6;
$color-contact: #ededed;
$color-background: #15141a;
$color-stroke: #e0e0e0;
$color-footer: #444348;